*.aux
*.cp
*.cps
*.dvi
*.exe
*.fn
*.info*
*.ky
*.la
*.lo
*.log
*.o
*.obj
*.orig
*.pdf
*.pg
*.ps
*.rej
*.toc
*.tp
*.vr
*~
+build
+dest
+inst
.#*
.*.prcs_aux
.DS_Store
.deps
.dirstamp
.gdb_history
.gitmodules
.libs
/.pc
/.sc-start*
/.version
/COPYING
/ChangeLog
/GNUmakefile
/INSTALL
/README-release
/gnulib-local
/libtoolize
/libtoolize.in
/maint.mk
/patches
/release
Makefile
Makefile.in
\#*#
_libs
acinclude.m4
aclocal.m4
atconfig
autom4te.cache
config-h.in
config.*
configure
conftest*
libtool
libtool-*.tar.bz2
libtool-*.tar.gz
libtool-*.tar.lzma
libtool-*.tar.xz
manual.html
patches
stamp-*
testdir*
testsuite
testsuite.dir
testsuite.log
vc-diffs
