[submodule "gnulib"]
        path = gnulib
        url = git://git.savannah.gnu.org/gnulib.git
[submodule "bootstrap"]
        path = gl-mod/bootstrap
        url = https://github.com/gnulib-modules/bootstrap.git
