[submodule "gnulib"]
        path = gnulib
        url = https://git.savannah.gnu.org/git/gnulib
[submodule "bootstrap"]
        path = gl-mod/bootstrap
        url = https://github.com/gnulib-modules/bootstrap.git
