/announce-gen
/compile
/depcomp
/do-release-commit-and-tag
/gendocs.sh
/git-version-gen
/gnu-web-doc-update
/gnupload
/install-sh
/ltmain.sh
/mdate-sh
/missing
/mkinstalldirs
/test-driver
/texinfo.tex
/useless-if-before-free
/vc-list-files
/gitlog-to-changelog
/update-copyright
/extract-trace
/options-parser
/funclib.sh
/inline-source
/bootstrap.in
